ul.thread > li {
  list-style: none;
}
ul.media > li {
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  background: #7f7f7f;
  margin-right: 1em;
  display: inline-block;
}
ul.media > li > a {
  width: 15em;
  height: 15em;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
ul.media > li > a > img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
